/* External Css */
/* SECTION SELECTOR */
body{
    margin: 15px;
}
section{
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 30px;
    /* margin-top: 50px; */
    position: relative;
    top: 70px;
}
.article{
    line-height: 25px;
}
.tittle{
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}

.date{
    text-transform: uppercase;
}
p{
    font-size: 25px;
    line-height: 35px;
}
.ti{
    font-weight: bold;
    text-transform: uppercase;
}